@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&display=swap');

/*configurações gerais*/

html {
    /* font-size: 16px; */
}

h1, h2, h3 {
    font-family: 'Anton';
}

p, li, button, a{
    font-family: 'Poppins';
    /* width: 80%;
    margin: 0 auto; */
}
nav,
#footer {
    background-color: #F2C335;
}

#footer p {
    color: black;
    font-weight: bold
}

nav {
    position: absolute;
    z-index: 9999;
}

nav li a:nth-child(1):hover, nav li a:nth-child(1):active{
    border-radius: 15px;
    background-color: #5a3f26e6;
    color: white !important;
 }

/* Fim das configurações gerais da navegação e footer */

/*css do index*/
 .primeira-interacao{
    background-image: linear-gradient(to bottom, #F2C335, #daae2a);
    width: 100%;
}
        .img-primeira-interacao{
            max-width: 100%;
        }

        
        @media screen and (min-width: 775px) {
            .btn-inicial{
                background-color: hsl(29, 41%, 25%);
                 width: 17%; 
            }
    
        }

            @media (min-width: 505px) and (max-width: 774px) {
                .btn-inicial{
                    background-color: hsl(29, 41%, 25%);
                      width: 25%;  
                }
        
            }

                @media screen and (min-width: 360px) and (max-width: 504px) {
                    .btn-inicial{
                        background-color: hsl(29, 41%, 25%);
                         margin-bottom: 10%;
                        width: 40%;
                    }
                    
                }
    
                
        
        
        .btn-inicial  {
            text-decoration: none;
            color: white;
        }

            .btn-inicial a:hover{
                color: black;
            }

            .btn-inicial:hover {
                
                font-weight: bold;
                background-color: rgba(255, 255, 255, 0);
                padding: 3px;
            }
/* Fim css index */

/* Css do forms de login e cadastro */
    .btn-login, .btn-cadastro{
    background-color: hsl(29, 41%, 25%);
    color: white;
    border-radius: 25px;
    box-shadow: 0 1px #063d1eb7;
    }

    .btn-login:hover, .btn-cadastro:hover{
    font-weight: bold;
    color: black;
    }

        .termos, .privacidade, .esqueceu-a-senha {
            color: black;
        }

            #modalOne{
                z-index: 9999;
            }
    /* Fim do formulário do forms de login e cadastro */

    /* css do conteudo da página inicial */
     .campoUm{
        background-image: linear-gradient(to right, black, #434343
        );
      
       color: white;
        
    } 

  
     
        .imgUm{
            border-radius: 25px;
        }

    .campoDois{
        background-image: linear-gradient(to right, black, #434343
        );

        color: white;
    }
        .imgDois{
            border-radius: 25px;
        }
      
        .campoTres{
            background-image: linear-gradient(to right, black, #434343
            );
    
            color: white;
        }

        .imgTres{
            border-radius: 25px;
        }
  
    .campoQuatro{
        background-image: linear-gradient(to bottom, #1D594E, #257c6c);
        color: white;
    }
        .imgAnimation{
            transform: translateY(0px);
            animation: float 5s ease-in-out infinite;
        }

        @keyframes float {
            0% {
                transform: translateY(0px);
            }

            50% {
                transform: translateY(-20px);
            }

            100% {
                transform: translateY(-0px);
            }
        }
    .sobreUm a{
        color: white;
    }

        .imgQuatro{
            border-radius: 25px;
        }


    .equipe{
        background-color: #f1f4f9;
      
        
    }

        .divisao{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    .duplaUm{
        display: flex;
        justify-content: center;
        gap: 25%;
        flex-wrap: wrap;
    }

    .duplaDois{
        display: flex;
        justify-content: center;
        gap: 25%;
        flex-wrap: wrap;
    }
        .adriel{
            border-radius: 50%;
            
        }

    .textAnimation {
        transform: translateY(0px);
        animation: float-text 5s ease-in-out infinite;
    }

    
    @keyframes float-text {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-4px);
        }

        100% {
            transform: translateY(-0px);
        }
    }

  .footer {
    background-image: linear-gradient(to bottom, #F2C335, #daae2a);
    padding: 20px;
  }

  .footer ul {
    list-style: none;
  }
    
    .footer li a:hover {
        color: white;
        background-color: hsl(29, 41%, 25%);
        
        border-radius: 15px;
    }

  .footer a {
      color: black;
      text-decoration: none;
  }

    .main-anuncio {
       /* background-image: linear-gradient(to bottom, #F2C335, #72580b);  */
       background-color: #F2C335;
       padding-top: 25px;
    }

        .div-anuncio{
            background-color: white;
            
        }

        /* css para formulário de envio de dados do livro */

        @media (min-width: 992px){
            .envio-de-arquivo {
                margin: 0 auto;
                width: 50%;
        }
           
    }

        .img-vazia {
    
        }
        /* fim do forms */


            .btn-equipe{
                background-color: rgb(19, 18, 18);
            }

            .btn-equipe a{
                text-decoration: none;
                color: white;
            }

            .btn-equipe a:hover {
                background-color: rgba(19, 18, 18, 0);
                color: black;
                font-weight: bold;
            }